@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Fjalla+One&family=Gupter:wght@400;500;700&family=Playwrite+FR+Moderne:wght@300&family=Rajdhani:wght@300;400;500;600;700&family=Rokkitt:ital@1&display=swap');


.bona-nova-sc-regular {
    font-family: "Bona Nova SC", serif;
    font-weight: 400;
    font-style: normal;
}

.bona-nova-sc-bold {
    font-family: "Bona Nova SC", serif;
    font-weight: 700;
    font-style: normal;
}

.bona-nova-sc-regular-italic {
    font-family: "Bona Nova SC", serif;
    font-weight: 400;
    font-style: italic;
}

.rajdhani-light {
    font-family: "Rajdhani", serif;
    font-weight: 300;
    font-style: normal;
}

.rajdhani-regular {
    font-family: "Rajdhani", serif;
    font-weight: 400;
    font-style: normal;
}

.rajdhani-medium {
    font-family: "Rajdhani", serif;
    font-weight: 500;
    font-style: normal;
}

.rajdhani-semibold {
    font-family: "Rajdhani", serif;
    font-weight: 600;
    font-style: normal;
}

.rajdhani-bold {
    font-family: "Rajdhani", serif;
    font-weight: 700;
    font-style: normal;
}

.playwrite-fr-moderne-light {
    font-family: "Playwrite FR Moderne", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.gupter-regular {
    font-family: "Gupter", serif;
    font-weight: 400;
    font-style: normal;
}

.gupter-medium {
    font-family: "Gupter", serif;
    font-weight: 500;
    font-style: normal;
}

.gupter-bold {
    font-family: "Gupter", serif;
    font-weight: 700;
    font-style: normal;
}

.rokkitt-italic {
    font-family: "Rokkitt", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
}